*~
*.pyc
data
models/regression/pickled
models/regression/plot
models/mixture/csv
models/mixture/plot
models/mixture/pickled
/models/regression/regressors_info.txt
*/.ipynb_checkpoints
/ternary_trajectories/traj1/
/optimization/cmaes/test_cmaes_pickle_checkpoint.pkl
/optimization/pickled
/optimization/plot
/optimization/json
*.eps
*.png
*.svg
